@media (max-width: 1146px) {
  .topic__title {
    font-size: 50px;
  }

  .courses__wrapper {
    min-height: 376px
  }
}

@media (max-width: 920px) {
  .benefits__top {
    padding-left: 230px;
    background-size: 210px 187px;
  }

  .benefits__items {
    padding: 0px;
    padding-top: 90px;
    background-position: left top;
  }

  .teachers__item {
    border-radius: 40px 40px 0px 0px;
    width: 100%;
  }
}

@media (max-width: 689px) {
  .topic__img {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .header__logo {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .benefits__top {
    max-width: 510px;
    padding-left: 165px;
    background-size: 150px 135px;
    background-position: left top;
  }

  .benefits__title {
    display: none;
  }

  .benefits__title-2 {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #2E2B44;
    margin-bottom: 30px;
  }

  .courses__wrapper {
    min-height: 473px
  }

  .courses__btn {
    padding: 20px 45px;
  }
}

@media (max-width: 510px) {

  .topic__content {
    font-size: 16px;
    line-height: 20px;
  }

  .topic__title {
    font-size: 30px;
    line-height: 100%;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    margin: 0px;
    margin-right: auto;
  }

  .burger-menu {
    display: inline-block;
  }

  .benefits__title-2 {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 5px;

  }

  .benefits__top {
    max-width: 510px;
    padding: 0;
    background-image: none;
  }

  .benefits__bottom {
    flex-direction: column;
  }

  .benefits__items {
    min-height: 80px;
    padding: 0px;
    padding-left: 90px;
    background-position: left center;
    margin-bottom: 30px;
  }

  .teachers__title {
    font-size: 20px;
  }

  .teachers__descr {
    max-width: 290px
  }

}
